<!DOCTYPE html>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location  web Service</title>
</head>
<body>
<div th:text="LLLLLLLLLLLLLLLL">xxxxx xxxxxxx</div>
<form action="saveLoc" method="post">
    <pre>
Id: <input type="text" name="id">
    Code: <input type="text" name="name"/>
    Name: <input type="text" name="code"/>
    Type: Urban<input type="radio" name="type" value="Urban"/>
          Rural<input type="radio" name="type" value="Rural"/>
    <input type="submit" value="Save"/>
        </pre>
</form>
<div th:text="${msg}">The messaged : </div>
</body>
<a href="display_all_locations">All locations</a>
</html>