<!DOCTYPE html>
<html lang="en"
 xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location  web Service</title>
</head>
<body>
<div th:text="LLLLLLLLLLLLLLLL">xxxxx xxxxxxx</div>
<form action="" method="post">
Id: <input type="text" name="id">
    Code: <input type="text" name="name"/>
    Name: <input type="text" name="code"/>
    Type: Urban<input type="radio" name="type"/>
          Rural<input type="radio" name="type"/>
    <input type="submit" value="Save"/>
</form>
</body>
</html>